@font-face {
    font-family: 'Source Serif Pro';
    font-weight: normal;

    src: url("../fonts/SourceSerifPro-Regular.ttf");
}

.posts-banner {

    height: 450px;

    position: relative;
    color: white;
    padding: 40px;

    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 30px;

}
.posts-banner:before, .posts-banner:after {
    content: "";
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    height: 100%;
    border-radius: 12px;
}
.posts-banner:before {
    background-position: center center;
    background-size: cover;
    background-image: url("../img/post/Top 5 Features of Amuse That Every Learner Needs.jpg");
}


.posts-banner:after {
    background-color: #14162466;
}

.posts-banner h3 {
    font-size: 40px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.posts-banner > * {
    position: relative;
    z-index: 2;
    width: auto;

}

.post-label {
    background-color: #4B6BFB;
    padding: 4px 10px;
    border-radius: 6px;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}

.poster-details {
    display: flex;
    align-items: center;
    background-image: url("../img/post/user.png");
    background-size: 36px 36px;
    background-repeat: no-repeat;
    min-height: 36px;
    padding-left: 48px;

}
.poster-details div {
    margin-right: 16px;
}
.post-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: -20px;
}
.post-card {
    padding: 16px;
    border-radius: 12px;
    background-color: #181A2A;
    border: 1px solid #242535;
    flex: 0 1 calc(33.333% - 20px);
    margin-bottom: 12px;
}
.post-card .image {
    height: 240px;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    margin-bottom: 24px;
}
.post-card .title {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-top: 16px;
    margin-bottom: 20px;
}
.post-card .post-label {
    color: #4B6BFB;
    background-color: #4B6BFB0D;
}

.post-card .poster-details {
    color: #97989F
}

.latest-post {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 120px;

}
.load-more {
    text-align: center;
    margin-top: 32px;
}
.load-more a {
    color: #8E4EED;
    font-weight: 700;
    background-color: #EEE3FF;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.post-banner {
    margin-top: 100px;
    margin-bottom: 32px;
}
.post-banner h3 {
    font-size: 36px;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 20px;
    font-weight: 600;
}

.post-banner .poster-details {
    color: #696A75;
    font-size: 14px;
    background-image: url("../img/post/user-grey.png");

}
.post-container {
    max-width: 800px;
}
.post > *:first-child {
    margin-top: 0;
}
.post h5 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 32px;
    line-height: 28px;

}
.post p {
    color: #C1C1C1;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 16px;
}
.post p.serif-pro {
    font-family: 'Source Serif Pro';
    font-size: 23px;
    font-weight: normal;

}
.post img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 32px;
}
.post .quote {
    background-color: #242535;
    border-left: 4px solid #E8E8EA;
    padding: 32px;
    border-radius: 12px;
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    font-weight: normal;
    font-family: 'Source Serif Pro';
    margin-bottom: 32px;
    margin-top: 32px;

}

.post-particles .particles img:nth-of-type(1) {
    width: 46px;
    right: 10%;
    top: 15%;
}

.post-particles .particles img:nth-of-type(2) {
    width: 40px;
    right: 14%;
    top: 27%;
}

.post-particles .particles img:nth-of-type(3) {
    width: 36px;
    top: 26.5%;
    left: 13%;
}

.post-particles .particles img:nth-of-type(4) {
    width: 18px;
    top: 13%;
    left: 15%;
}

.post-particles .particles img:nth-of-type(5) {
    width: 18px;
    top: 12%;
    left: 10%;
}
.img-mobile {
    display: none;
}


@media (max-width: 1200px) {
    .post-container {
        max-width: 343px;
    }
    .post-particles {
        display: none;
    }
    .posts-banner {
        height: auto;
        padding: 280px 0 0 0;
        margin-top: 40px;

    }
    .posts-banner:after {
        display: none;
    }
    .posts-banner:before {
        height: 255px;
    }
    .posts-banner h3 {
        font-size: 24px;
    }
    .posts-banner h3 br {
        display: none;
    }
    .poster-details {
        font-size: 14px;
        background-size: 24px 24px;
        min-height: 24px;
        padding-left: 36px;
    }

    .post-label {
        font-size: 12px;
    }
    .latest-post {
        margin-top: 40px;
        text-align: left;
        margin-bottom: 0;
    }
    .post-cards {
        margin-right: 0;
    }
    .post-card {
        flex: 0 1 100%;
    }

    .post-card .title {
        font-size: 20px;
        line-height: 26px;
    }

    .img-desktop {
        display: none;
    }
    .img-mobile {
        display: block;
    }
    .post-banner {
        margin-top: 40px;
        margin-bottom: 24px;
    }
    .post-banner h3 {
        font-size: 24px;
        line-height: 36px;
    }
    .post p {
        font-size: 16px;
        line-height: 24px;
    }
    .post p.serif-pro {
        font-size: 20px;
        line-height: 30px;
    }
    .post h5 {
        line-height: 24px;
        margin-top: 32px;
    }
    .post .quote {
        font-size: 20px;
        line-height: 32px;
    }
}